<ion-header>
  <ion-toolbar>
    <ion-title>contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of contacts" [routerLink]="['./', contact.id]">
      <ion-avatar slot="start">
        <ion-img [src]="contact.image"></ion-img>
      </ion-avatar>
      <ion-label>
        {{contact.name}}
      </ion-label>
      <ion-buttons>
        <ion-icon name="mail-outline" class="ion-padding-horizontal"></ion-icon>
        <ion-label>{{contact.email.length}}</ion-label>
        <ion-icon name="call-outline" class="ion-padding-horizontal"></ion-icon>
        <ion-label>{{contact.phone.length}}</ion-label>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
