<ion-header>
  <ion-toolbar>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="floating">ID</ion-label>
        <ion-input formControlName="id" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Image URL</ion-label>
        <ion-input formControlName="imageUrl" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ingredients (Separate with comma)</ion-label>
        <ion-input formControlName="ingredients" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="onSubmit()">Submit</ion-button>
  </form>
</ion-content>
