<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Place Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{loadedPlace.title}}</ion-card-title>
    </ion-card-header>
    <ion-img [src]="loadedPlace.imageUrl"></ion-img>
    <ion-card-content>
      {{loadedPlace.description}}<br>
      Price : {{loadedPlace.price}} / night
    </ion-card-content>
  </ion-card>
</ion-content>
